/* Styles for the Post Edit component */
mat-dialog-content mat-form-field {
    width: 100%;
}

mat-dialog-content mat-form-field textarea {
    height: 50px;
}

mat-dialog-actions button {
    margin-right: 15px;
}